/*  your css code here. If applicable */
#container {
  margin: 20px;
  font-size: 18px;
  text-align: center;
}

/* Before pseudo-element */
#container::before {
  content: "🌸 Before Text 🌸 ";
  color: #f00;
  font-size: 20px;
}

/* After pseudo-element */
#container::after {
  content: " 🌸 After Text 🌸";
  color: #f00;
  font-size: 20px;
}
